.avatar-show-image{
    width: 200px;
}

.well.profile-block{
    color: #FFF;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description{
    background: #7F3A39;
    border-color: #000000;
}

.well.profile-contact-info{
    background-color: #BF5755;
     border-color: #000000;
}

.job-title-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 4px;
    border: 2px solid #BF5755;
    border-radius: 4px;
    background-color: #BF5755;
    color: white;
    text-align: center;
}