.avatar-show-image{
    width: 200px;
}

.well.profile-block{
    color: #FFF;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description{
    background: #7F3A39;
    border-color: #000000;
}

.well.profile-contact-info{
    background-color: #BF5755;
     border-color: #000000;
}